* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* COOMON */
body {
  font-family: "Lato", sans-serif;
  background-color: #7cc;
}

img {
  width: 100%;
}

i {
  margin: 0.25rem;
  color: #444;
}

p {
  font-size: 0.8rem;
  color: #444;
}

/* UTILITY */
.flex {
  display: flex;
}

.row {
  justify-content: space-between;
  align-items: center;
}
.container {
  margin: 2rem auto;
  border: 1px solid #000;
  height: calc(100vh - 4rem);
  width: 90%;
  background-color: #ddd;
}

.col {
  border: 1px solid #f00;
  height: 100%;
}

.left-col {
  width: 30%;
}

.right-col {
  width: 70%;
}

.user-wrapper {
  height: 70px;
  align-items: center;
}

.avatar {
  margin: 0.5rem;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: inline-block;
  overflow: hidden;
}
