* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* COOMON */
body {
  font-family: "Lato", sans-serif;
  background-color: #2ab;
}

img {
  width: 100%;
}

i {
  margin: 0.5rem;
  color: #444;
}

p {
  font-size: 0.8rem;
  color: #444;
}

input {
  width: 100%;
  height: 70%;
}
/* UTILITY */
.flex {
  display: flex;
}

.v-middle {
  vertical-align: middle;
}
.inline-b {
  display: inline-block;
}
.row {
  justify-content: space-between;
  border: 1px solid green;
}
.container {
  margin: 2rem auto;
  border: 1px solid #000;
  height: calc(100vh - 4rem);
  width: 90%;
  background-color: #ddd;
}

.col {
  border: 1px solid #f00;
  height: 100%;
}

.left-col {
  width: 30%;
}

.right-col {
  width: 70%;
}

.user-wrapper {
  height: 70px;
  align-items: center;
  border: 1px solid blue;
}

.avatar {
  margin: 0.5rem;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: inline-block;
  overflow: hidden;
}

.icons-wrapper {
  line-height: 60px;
}

.alert-bar {
  padding: 0.75rem 1rem;
  height: 60px;
  background-color: #5dd;
}
.alert-details {
  display: inline-block;
  /* vertical-align: middle; */
}

.icon-wrapper {
  background-color: #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}

.icon-wrapper i {
  color: #5dd;
}

.search-bar {
  height: 40px;
}

.search-bar * {
  line-height: 40px;
}

.contacts {
  overflow: scroll;
}
