<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boolzapp</title>
    <!-- STYLE -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- FONTAWSOME -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- APPLICAZIONE VUE -->
    <div id="root">
      <!-- MAIN -->

      <div class="container flex">
        <!-- LEFT COL -->
        <!-- TOP ROW -->
        <div class="col left-col flex">
          <div class="row flex">
            <div class="user-wrapper flex">
              <div class="avatar">
                <img src="img/avatar_io.jpg" alt="user" />
              </div>
              <h5>Sofia</h5>
            </div>
            <div class="icons-wrapper">
              <i class="fas fa-circle-notch"></i>
              <i class="fas fa-comment-alt"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>
          <!-- /TOP ROW -->
          <!-- ALERT BAR -->
          <div class="row flex alert-bar">
            <div class="icon-wrapper">
              <i class="fas fa-bell-slash"></i>
            </div>
            <div class="alert-details">
              <h5>Ricevi notifiche di nuovi messaggi</h5>
              <p>Attiva notifiche desktop</p>
            </div>
          </div>
          <!-- /ALERT BAR -->
          <!-- SEARCH BAR -->
          <div class="row search-bar flex">
            <label for="search">
              <i class="fas fa-search"></i>
            </label>
            <input
              type="text"
              id="search"
              placeholder="Cerca o inizia una nuova chat"
            />
          </div>
          <!-- /SEARCH BAR -->
          <!-- CONTACTS -->
          <div class="contacts">
            <div
              class="contact flex"
              v-for="(element, index) in contacts"
              :class="{'active' : currentContact === index}"
              @click="showChat(index)"
            >
              <div class="avatar">
                <img :src="'img/avatar' + element.avatar + '.jpg'" alt="" />
              </div>
              <div class="user-details">
                <h5>{{element.name}}</h5>
                <p>Ultimo messaggio inviato</p>
              </div>
              <p class="time">12:00</p>
            </div>
          </div>
          <!-- /CONTACTS -->
        </div>
        <!-- /LEFT COL -->
        <!-- RIGHT COL -->
        <div class="col right-col">
          <!-- TOP ROW -->
          <div class="row flex">
            <div class="user-wrapper flex">
              <div class="avatar">
                <img
                  :src="'img/avatar' + contacts[currentContact].avatar + '.jpg'"
                  alt="user"
                />
              </div>
              <div class="user-details">
                <h5>{{contacts[currentContact].name}}</h5>
                <p>Ultimo accesso alle ore 15:00</p>
              </div>
            </div>
            <div class="icons-wrapper">
              <i class="fas fa-search"></i>
              <i class="fas fa-paperclip"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>
          <!-- /TOP ROW -->
          <!-- CHAT -->
          <div class="chat row flex">
            <div class="sent message">
              <p class="content">ciao ciao</p>
              <p class="time">05:00</p>
            </div>
            <div class="received message">
              <p class="content">ciao ciao</p>
              <p class="time">05:01</p>
            </div>

            <div
              class="message"
              :class="singleMessage.status"
              v-for="singleMessage in contacts[currentContact].messages"
            >
              <p class="content">{{singleMessage.message}}</p>
              <p class="time">{{singleMessage.date}}</p>
            </div>
          </div>
          <!-- /CHAT -->
          <!-- MESSAGE INPUT -->
          <div class="message-input row flex">
            <i class="far fa-smile"></i>
            <input
              class="inline-b"
              type="text"
              placeholder="Scrivi un messaggio"
            />
            <i class="fas fa-microphone"></i>
          </div>
          <!-- /MESSAGE INPUT -->
        </div>

        <!-- /RIGHT COL -->
      </div>
    </div>

    <!-- /MAIN -->
    <!-- SCRIPT -->
    <script src="js/script.js"></script>
  </body>
</html>
